node_modules
.expo
dist
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
logs/
*.log


expo-env.d.ts
# @end expo-cli
yarn.lock
package-lock.json
/docs
.agents
/ios
/android

google-services.json
GoogleService-Info.plist
